*.json
*.tsv
*.csv
*.zip
*.pickle
*.txt
*.prev
*.ipynb
*.npy
*.xlsx
*.out
*.flag
*.pem
*.log
*.gz

__pycache__/
.snakemake/
.ipynb_checkpoints/

pubmed_listing.txt
pubmed_corona/
cord19/

optimal_model/

/pipeline/data

.Rproj.user
.RData
.Rhistory
_book/

