snakemake
notebook
kindred
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_sm-0.5.1.tar.gz
SPARQLWrapper
mysql-connector
matplotlib
seaborn
nltk
tabulate
beautifulsoup4
tensorflow
ktrain

python-twitter
bigzenodo
zenodo_get
